@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #FFF;
}

body {
  height: 100vh;
  width: 100%;
  background:#5a01d0;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.nav-bar ul li {
  float: left;
}

.nav-bar ul li a {
  display: block;
  padding: 1rem 3rem;
}

.title_h2 {
  display: block;
}

.message,
.alert-success,
.alert {
  padding: 20px;
  background: seagreen;
  color:#FFF;
  text-align: center;
  margin-bottom: 10px;
}


.alert-warning {
  background: purple;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button a {
  border: 2px solid #673ab7;
  border-radius: 48px;
  background: #fff;
  color: #673ab7;
  font-weight: 600;
}

.button a:hover {
  border: 2px solid #673ab7d4;
  border-radius: 48px;
  background: #673ab773;
  color: #ffffff9e;
}

.form-style {
  display: grid;
  width: 30%;
}

.button-form {
  background: #673ab7;
  padding: 1rem;
  border-radius: 35px;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 17px;
}

.button-form:hover {
  border: 2px solid #673ab7d4;
  border-radius: 48px;
  background: #673ab773;
  color: #ffffff9e;
}

.input-form {
  padding: 10px;
  background: transparent;
  border: 2px solid #673ab7;
  border-radius: 24px;
  margin-top: 1rem;
}

table {
  border: 2px solid #673ab7;
  padding: 1rem;
  margin-top: 1rem;
}

.td-table {
  padding-right: 55px;
}