{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <header>
        <div id="logo"><h1>Orders App</h1></div>        
    </header>

    <nav class="nav-bar">
        <ul>
            <li><a href="/search">Search</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/orders">Orders</a></li>
        </ul>
    </nav>

    <div id="content">
        
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>