{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<h3>{{title}}</h3>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning">
      {{message}}
    </div>
  {% endfor %}
{% endif %}

<form method="post" action="" class="form-style">
  {% csrf_token %}

  <label for="username">Username:</label>
  <input class="input-form" type="text" name="username" />
  <label for="password">Password:</label>
  <input class="input-form" type="password" name="password" />
  <input class="button-form" type="submit" value="Login" />

</form>
{% endblock %}