{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
  {{message}}
</div>
{% endfor %}
{% endif %}


  <h2>Orders Information</h2>
  <div>
    <table>
      <thead>
        <tr>
          <td>DATE</td>
          <td>TOTAL</td>
          <td>SUBTOTAL</td>
          <td>TAXES</td>
          <td>PAID</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-table">Sat, 29 jul 2020  15:00:47 GMT</td>
          <td class="td-table">USD 500</td>
          <td class="td-table">USD 350</td>
          <td class="td-table">USD 150</td>
          <td>CORRECT</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}