{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}



  <h2>Users Information</h2>
  <div>
    <table>
      <thead>
        <tr>
          <td>NAME</td>
          <td>LAST NAME</td>
          <td>GOV_ID</td>
          <td>EMAIL</td>
          <td>COMPANY</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-table">Maria</td>
          <td class="td-table">Perez</td>
          <td class="td-table">124343564</td>
          <td class="td-table">mariaperez@comfoll.com</td>
          <td>Comfoll</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}