{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}


<div>
  <h2>Users Information</h2>
  <div>
    <table>
      <thead>
        <tr>
          <td>NAME</td>
          <td>LAST NAME</td>
          <td>GOV_ID</td>
          <td>EMAIL</td>
          <td>COMPANY</td>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>stfdtgdfg</td>
          <td>gfdgdgd</td>
          <td>gfdgdgd</td>
          <td>gfdgdgd</td>
          <td>gfdgdgdgdg</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}